<!DOCTYPE html>
<html lang="{{ site.lang | default:'en-US' }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="description"
          content="{{ page.description | default: site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#957878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="page-header" role="banner">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.subtitle }}</h2>
    <h1></h1>
    <div class="project-tagline-restrictor">
        <a href="#about" class="btn">About</a>
        <a href="#participants" class="btn">Participants</a>
        <a href="#schedule" class="btn">Schedule</a>
        <a href="#venue--travel-information" class="btn">Venue & Travel Information</a>
        <a href="#contact" class="btn">Contact</a>
    </div>
</section>

<section class="main-content">
    {{ content }}

</section>
</body>
</html>
